$fuente-principal: Helvetica, Sans-serif;
$color-primario: #333;
$color-fondo-principal: #ddd;
$altura-capa: 300px;
$color-fondo-capa: #999;

body{
  font-family: $fuente-principal;
  width: auto;
  height: 100%;
  color: $color-primario;
  background: $color-fondo-principal;
  margin: 0;
  padding: 0;
}

.prueba-sass{
  background: $color-fondo-capa;
  color:$color-primario;
  height: $altura-capa;
  padding: 5px;
}

nav{
  width: 90%;
  margin: auto;
  padding: 8px 0;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin: auto;
    text-align: center;
  }
    li{
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
}
