body {
  font-family: Helvetica, Sans-serif;
  width: auto;
  height: 100%;
  color: #333;
  background: #ddd;
  margin: 0;
  padding: 0;
}

.prueba-sass {
  background: #999;
  color: #333;
  height: 300px;
  padding: 5px;
}

nav {
  width: 90%;
  margin: auto;
  padding: 8px 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: auto;
  text-align: center;
}

nav li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
